#buttonsBox{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: black solid 2px;
    width: 300px;
    height: 300px;
   
}
button{
    margin: 2px;
}
.secondaryText{
    margin: 0px;
    padding: 0px;
}
#displayBox{
    width: 300px;
    border: solid black 2px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#mainOutput{
    text-align: end;
    font-size:24px;
}
#secondaryOutput{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
    border: solid red 2px;  
    height: 20px;
}